
#count-down-timer {
    width: 120px;
    border: solid;
    border-width: 3px;
    padding: 10px;
    background: black;

    position: fixed;
}

.floatcontainer {
    float: right;
    width: 120px;
}

.price-table {
    color: white;
    width: 40%
}

.price-table td {
    border: none !important;
}

.price-table-label {
    text-align: right;
    font-weight: bold;
    width: 35%;
}

.price-table-value {
    table-layout: fixed;
    width: 32%;
}
