/* Forms */

form > input {
    width: 80%;
    vertical-align: middle;
    font: sans-serif;
    font-size: 18px;
    padding: 10px;
    margin-right: 0;

    border: 0;
    /*border: 1px solid;*/
    border-color: darkgray;

    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

    box-shadow: 0 1px 2px #666666;

}


form {
    align-content: center;
    margin-top: 40px;

}


/*  Base  */
body {
background: url("/static/ticket_exchange/images/festival1.jpg") no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}


.alert {
    width: 95%;
}

.home-link {
    color: white;
    font-size: 40px;
}


.home-link {
    color: white;
}

.home-link:hover {
    color: #fbf7ed;
    text-decoration: none;
}



.homepage-search-results {
    width: 80%;
    margin-top: -10px;
}

.homepage-button {
    font-size: 30px;
    width: 45%;
    height: 45%;
    /*opacity: 0.8;*/
    text-align: center;
}


/* Forms */
.post-form textarea, .post-form input {
    width: 100%;
    border-style: outset;
}

.date {
    width: 30% !important;
}


.h1_title {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

/*Form container*/
.form-container {
    background-color: #000;
    padding: 50px;
    opacity: 0.9;
    border-radius: 25px;
    border-color: white;
    border: solid;
    border-width: 1px;
    color: #fff;
}


.event-location-info {
    float: right;
    margin-right: 150px;
    margin-bottom: 15px;
}

.event-date-info {
    margin-left: 143px;
    margin-bottom: 15px;
}



/* Information container */
.info-container {
    padding: 25px;
    /*background-color: #22485d;*/
    background-color: #dae8f1;
    margin-bottom: -30px;
    padding-bottom: 100px;
    opacity: 0.95;
    border-radius: 25px;
    /*border-top-right-radius: 25px;*/
    /*border-top-left-radius: 25px;*/
    border: solid 1px;
    border-color: white;
    box-shadow: 0 1px 2px #666666;
}

/*.info-container > * {*/
    /*!*color: white;*!*/
/*}*/

/*.info-container > h1, h2, h3, h4, h5 {*/
    /*!*text-align: center;*!*/
    /*margin-top: 0;*/
/*}*/

.info-table {
    width: 100%;
}

.info-table > td {
    /*padding: 5px;*/
}

.info-label {
    text-align: right;
    padding: 5px;
    padding-right: 10px;
    width: 50%;
}

/*.info-table > td {*/
    /*width: 50%;*/
/*}*/

.info-value {

}

.tx-title {
    text-align: center;
    color: white;
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 20px;
}


.tx-title > * {
    color: white;
    font-size: 60px;
    font-weight: bold;
}


/*.homepage {*/
    /*text-align: center;*/
/*}*/

