Django==1.8
Pillow==3.4.2
PyJWT==1.4.2
Wand==0.4.4
argparse==1.2.1
braintree==3.30.0
django-file-resubmit==0.5.0
django-jsonview==1.0.0
django-parsley==0.6
django-social-auth==0.7.28
flufl.enum==4.1
httplib2==0.9.2
oauth2==1.9.0.post1
oauthlib==2.0.0
python-openid==2.2.5
python-social-auth==0.2.21
reportlab==3.4.0
requests==2.11.1
requests-oauthlib==0.7.0
scriptine==0.2.1
six==1.10.0
wsgiref==0.1.2
zbar==0.10
zbarlight==1.0.2
