{% extends 'ticket_exchange/base.html' %}

{% block content %}

    <p>{{ ticket.event.name }}</p>
    <p>{{ ticket.price }}</p>
    <p>{{ ticket.original_filename }}</p>
    <p>{{ ticket.seller.fullname }}</p>
    <p>{{ ticket.seller.email }}</p>
    <p>{{ ticket.seller.bank_account }}</p>


    <form method="POST" >{% csrf_token %}
        <button name="return" class="save btn btn-primary">Change Personal Details</button>
        <button name="continue" class="save btn btn-primary">Put up for Sale</button>
    </form>

{% endblock %}




