{% extends 'sell_ticket/sell_ticket_base.html' %}
{% load static %}


{% block pagination %}

    <div class="text-center">
        <ul class="pagination">
            <li><a href="{% url 'sell_ticket:select_event' %}"><i class="fa fa-search" aria-hidden="true"></i> &nbsp;Select Event</a></li>
            <li class="active"><a href="{% url 'sell_ticket:event_selected' ticket.id %}">
                {% if ticket.event %}
                    <i class="fa fa-check" aria-hidden="true"></i>
                {% endif %}
                Event
            </a></li>

            <li><a href="{% url 'sell_ticket:upload_pdf' ticket.id %}">
                {% if ticket.link %}
                    <i class="fa fa-check" aria-hidden="true"></i>
                {% endif %}
                PDF
            </a></li>

            <li><a href="{% url 'sell_ticket:set_price' ticket.id %}">
                {% if ticket.price %}
                    <i class="fa fa-check" aria-hidden="true"></i>
                {% endif %}
                Price
            </a></li>

            <li><a href="{% url 'sell_ticket:personal_details' ticket.id %}">
                {% if ticket.seller.user.first_name and ticket.seller.user.last_name and ticket.seller.user.email and ticket.seller.bank_account %}
                    <i class="fa fa-check" aria-hidden="true"></i>
                {% endif %}
                Personal Details
            </a></li>

            <li><a href="{% url 'sell_ticket:completion' ticket.id %}">Complete</a></li>
        </ul>
    </div>

{% endblock %}


{% block content %}

    <div class="info-container">
        <h2>Selected Event</h2>
        <table class="info-table">
            <tr>
                <td class="info-label">Event name:</td>
                <td class="info-value">{{ ticket.event.name }}</td>
            </tr>
            <tr>
                <td class="info-label">Location:</td>
                <td class="info-value">{{ ticket.event.location }}, {{ ticket.event.city }}, {{ ticket.event.country }}</td>
            </tr>
            <tr>
                <td class="info-label">Start date:</td>
                <td class="info-value">{{ ticket.event.start_date }}</td>
            </tr>
            <tr>
                <td class="info-label">End date:</td>
                <td class="info-value">{{ ticket.event.end_date }}</td>
            </tr>
        </table>


        <form method="POST" class="post-form">{% csrf_token %}
            <button name="continue" class="save btn btn-block btn-success">Continue <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
            <button name="return" class="save btn btn-block btn-primary"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Change event</button>
        </form>
    </div>

{% endblock %}