{% extends 'ticket_exchange/base.html' %}
{% load static %}


{% block content %}

    <p>Sell Ticket - Select Event</p>
    {{ event.name }}
    {{ event.location }}
    {{ event.start_date }}
    {{ event.end_date }}

    <div class="text-center">
        <ul class="pagination">
            <li class="disabled"><a href="#"><i class="fa fa-search" aria-hidden="true"></i> &nbsp; Select Event</a></li>
            <li class="active"><a href="#">Continue or New ticket</a></li>
            <li class="disabled"><a href="#">1. Event</a></li>
            <li class="disabled"><a href="#">2. PDF Upload</a></li>

            <li class="disabled"><a href="#">3. Price</a></li>
            <li class="disabled"><a href="#">4. Personal Details</a></li>
            <li class="disabled"><a href="#">5. Complete</a></li>
        </ul>
    </div>

    <form method="POST" class="post-form">{% csrf_token %}
        <button name="new" class="save btn btn-primary">Start again with new ticket</button>
        <button name="continue" class="save btn btn-primary">Continue with ticket you already defined</button>
    </form>

{% endblock %}