{% extends 'ticket_exchange/base.html' %}
{% load static %}

{% block scripts %}
    <script src="{% static 'sell_ticket/js/select_event.js' %}"></script>
{% endblock %}

{% block content %}

    <p>Sell Ticket - Select Event</p>

    <div class="text-center">
        <ul class="pagination">
            <li class="active"><a href="#"><i class="fa fa-search" aria-hidden="true"></i> &nbsp;Select Event</a></li>
            <li class="disabled"><a href="#">1. Event</a></li>
            <li class="disabled"><a href="#">2. PDF Upload</a></li>

            <li class="disabled"><a href="#">3. Price</a></li>
            <li class="disabled"><a href="#">4. Personal Details</a></li>
            <li class="disabled"><a href="#">5. Complete</a></li>
        </ul>
    </div>

    {% include 'ticket_exchange/search.html' %}

{% endblock %}