{% extends 'ticket_exchange/base.html' %}
{% load static %}


{% block scripts %}
    <script src="{% static 'ticket_exchange/js/personal_info_form.js' %}"></script>
{% endblock %}



{% block content %}

    <div class="form-container">

        <div>
            <h1 class="h1_title" style="">{{ event.name }}</h1>

            <div class="event-location-info"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i> &nbsp;&nbsp;{{ event.location }}, {{ event.city }}, {{ event.country }}</div>
            <div class="event-date-info"><i class="fa fa-calendar fa-2x" aria-hidden="true"></i> &nbsp;&nbsp;{{ event.start_date }} - {{ event.end_date }}</div>

        </div>

        <hr>

        <div>
            <h2>Personal Details</h2>
            {% include 'my_info/profile_form.html' %}

        </div>

        <hr>

        <div>
            <form enctype="multipart/form-data" method="POST" class="form-horizontal">{% csrf_token %}
                <h2>Price</h2>

                <div class="form-group">
                    {% for field in price_form %}
                        <div class="fieldWrapper">
                            {{ field.errors }}
                            <label class="control-label col-sm-2" for="{{ field.auto_id }}">{{ field.label }}:</label>
                            <div class="col-sm-10">
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <hr>

                <h2>PDF Upload</h2>
                <div class="form-group">
                    {% for field in upload_form %}
                        <div class="fieldWrapper">
                            {{ field.errors }}
                            <label class="control-label col-sm-2" for="{{ field.auto_id }}">{{ field.label }}:</label>
                            <div class="col-sm-10">
                                {{ field }}
                            </div>

                        </div>
                    {% endfor %}
                </div>

                <button id="putUpForSaleButton" class="btn btn-primary" type="submit">Put up for Sale</button>

            </form>
        </div>
    </div>


{% endblock %}




