{% extends 'ticket_exchange/base.html' %}
{% load static %}

{% block scripts %}
    <script src="{% static 'sell_ticket/js/show_price.js' %}"></script>
{% endblock %}



{% block pagination %}

    <div class="text-center">
        <ul class="pagination">
            <li><a href="{% url 'sell_ticket:select_event' %}"><i class="fa fa-search" aria-hidden="true"></i> &nbsp;Select Event</a></li>
            <li><a href="{% url 'sell_ticket:event_selected' ticket.id %}">
                {% if ticket.event %}
                    <i class="fa fa-check" aria-hidden="true"></i>
                {% endif %}
                1. Event
            </a></li>

            <li><a href="{% url 'sell_ticket:upload_pdf' ticket.id %}">
                {% if ticket.link %}
                    <i class="fa fa-check" aria-hidden="true"></i>
                {% endif %}
                2. PDF
            </a></li>

            <li class="active"><a href="{% url 'sell_ticket:set_price' ticket.id %}">
                {% if ticket.price %}
                    <i class="fa fa-check" aria-hidden="true"></i>
                {% endif %}
                3. Price
            </a></li>

            <li><a href="{% url 'sell_ticket:personal_details' ticket.id %}">
                {% if ticket.seller.user.first_name and ticket.seller.user.last_name and ticket.seller.user.email and ticket.seller.bank_account %}
                    <i class="fa fa-check" aria-hidden="true"></i>
                {% endif %}
                4. Personal Details
            </a></li>

            <li><a href="{% url 'sell_ticket:completion' ticket.id %}">5. Complete</a></li>
        </ul>
    </div>

{% endblock %}


{% block content %}

    <table>
        <tr>
            <td>Your payout if the ticket is sold: </td>
            <td>&nbsp;</td>
            <td id="price_after_commission"></td>
        </tr>
    </table>

    <form method="POST" >{% csrf_token %}
        {{ form.as_p }}
        <button name="return" class="save btn btn-primary">Upload different file</button>
        <button name="continue" class="save btn btn-primary">Continue</button>
    </form>


{% endblock %}




