{% extends 'ticket_exchange/base.html' %}

{% block content %}

    {% if ticket_original_filename %}
        <p>Your uploaded ticket-file: {{ ticket_original_filename }}</p>
        <p>Select a new one if you want to replace the one you already uploaded</p>

    {% endif %}
    <form enctype="multipart/form-data" method="POST" >{% csrf_token %}
        {{ upload_form.as_p }}
        <button name="return" class="save btn btn-primary">Change event</button>
        <button name="continue" class="save btn btn-primary">Continue</button>
    </form>


{% endblock %}




