{% extends "ticketexchange/base_admin.html" %}

{% block content %}

    <div>
        <h1><a href="{% url 'person_index' %}">Persons</a></h1>
        {% for person in persons %}
            <img src="{{ person.photohome.html }}">
            <p>{{ person.fullname }} - {{ person.tickets }}</p>
        {% endfor %}
    </div>

    <div>
        <h1><a href="{% url 'event_index' %}">Events</a></h1>
        {% for event in events %}
            <p><a href="{% url 'event_detail' event_pk=event.pk %}"> {{ event.name }} - {{ event.location }} - {{ event.start_date }} - {{ event.end_date }}</a></p>
        {% endfor %}
    </div>

    <div>
        <h1><a href="{% url 'ticket_index' %}">Tickets</a></h1>
        {% for ticket in tickets %}
            <p>{{ ticket.holder.user.username }} - {{ ticket.event }} - {{ ticket.price }}</p>
        {% endfor %}
    </div>

{% endblock %}