{% extends 'ticket_exchange/base.html' %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'buy_ticket/css/available_tickets.css' %}">
    <link rel="stylesheet" href="{% static 'buy_ticket/css/stylesheet.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'buy_ticket/js/available_tickets.js' %}"></script>
    <script>document.onload = start_get_available_tickets_js({{ event.id }})</script>
{% endblock %}


{% block content %}

    {% if user.is_staff %}
        <a href="{% url 'events:edit_event' event.id %}">Edit Event</a>
    {% endif %}

    <div class="available-tickets-info info-container">
        <h1 class="h1_title">{{ event.name }}</h1>

        <div class="event-location-info"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i> &nbsp;&nbsp;{{ event.location }}, {{ event.city }}, {{ event.country }}</div>
        <div class="event-date-info"><i class="fa fa-calendar fa-2x" aria-hidden="true"></i> &nbsp;&nbsp;{{ event.start_date }} - {{ event.end_date }}</div>

        <div>
            <div class="tickets-available">
                <p>Tickets Available</p>
                <div class="tickets-number">{{ tickets_available }}</div>
            </div>

            <div class="tickets-sold">
                <p>Tickets Sold</p>
                <div class="tickets-number">{{ tickets_sold }}</div>
            </div>
        </div>

    </div>

    <form method="POST" class="continue_ticket_purchase_form">{% csrf_token %}
    </form>

{% endblock %}

