{% extends 'ticket_exchange/base.html' %}
{% load static %}

{% block scripts %}
    <script src="{% static 'buy_ticket/js/confirm_purchase.js' %}"></script>
    <script>document.onload = confirm_purchase_countdown({{ ticket.event.id }})</script>
{% endblock %}

{% block content %}
    Buy Ticket - Confirm Purchase

    <div>
        <h1>Event</h1>
        <p>Name: {{ ticket.event.name }}</p>
        <p>Date: from {{ ticket.event.start_date }} until {{ ticket.event.end_date }}</p>
        <p>Location: {{ ticket.event.location }}, {{ ticket.event.city }}, {{ ticket.event.country }}</p>
    </div>
    <div>
        <h1>Seller</h1>
        <p><img src="{{ ticket.seller.photo }}"> {{ ticket.seller.fullname }}</p>
    </div>
    <div>
        <h1>Price</h1>
        <p>Ticket price: {{ ticket.price }}</p>
        <p>Commission: {{ ticket_price_object.commission }}</p>
        <p>Bank fees: {{ ticket_price_object.bank_costs }}</p>
        <p>Total price: {{ ticket_price_object.total_price}}</p>
    </div>

    <form method="POST" >{% csrf_token %}
        {{ user_form.as_p }}
        <a class="btn btn-primary" href="{% url 'buy_ticket:cancel_ticket_view' ticket.id %}">Cancel this ticket</a>
        <button id="confirm_purchase_button" name="confirm" class="save btn btn-primary">Confirm (60)</button>
    </form>

{% endblock %}