{% extends 'ticket_exchange/base.html' %}
{% load static %}

{% block scripts %}
    <script src="{% static 'buy_ticket/js/confirm_purchase.js' %}"></script>
    <script>document.onload = confirm_purchase_countdown({{ ticket.event.id }})</script>
{% endblock %}

{% block content %}
    Buy Ticket - Confirm Purchase

    <form method="POST" >{% csrf_token %}
        {{ user_form.as_p }}
        <a class="btn btn-primary" href="{% url 'buy_ticket:cancel_ticket_view' ticket.id %}">Cancel this ticket</a>
        <button id="confirm_purchase_button" name="confirm" class="save btn btn-primary">Confirm (60)</button>
    </form>

{% endblock %}