{% extends 'ticket_exchange/base.html' %}
{% load static %}

{% block scripts %}
    <script src="https://js.braintreegateway.com/js/braintree-2.20.0.js"></script>
    <script src="{% static 'buy_ticket/js/count_down_timer.js' %}"></script>
    <script src="{% static 'buy_ticket/js/braintree.js' %}"></script>
    <script>document.onload = start_count_down_timer({{ time_left }}, {{ ticket.event.id }})</script>
{#    <script>document.onload = setupBraintreeAjax()</script>#}
    <script>document.onload = setupBraintree('{{ token }}')</script>
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'buy_ticket/css/stylesheet.css' %}">
{% endblock %}


{% block content %}

    <div id="count-down-timer">
        <p>Time left:</p>
    </div>

    <form method="POST">{% csrf_token %}
        <div id="dropin-container"></div>
        <button type="submit">Pay Now</button>
      </form>

{% endblock %}