{% extends 'ticket_exchange/base.html' %}
{% load static %}

{% block scripts %}
    <script src="{% static 'buy_ticket/js/count_down_timer.js' %}"></script>
    <script>document.onload = start_count_down_timer({{ time_left }}, {{ ticket.event.id }})</script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'buy_ticket/css/stylesheet.css' %}">
{% endblock %}


{% block content %}

    <div id="count-down-timer">
        <p>Time left:</p>
    </div>

    Buy Ticket - Ticket Details

    <p>Seller: {{ ticket.seller.fullname }}</p>
    <p>Event: {{ ticket.event.name }}</p>
    <p>Ticket Price {{ ticket.price }}</p>
    <p>Commission: {{ ticket_price_object.commission }}</p>
    <p>Bank costs: {{ ticket_price_object.bank_costs }}</p>
    <p>Total Price: {{ ticket_price_object.total_price }}</p>

    <a class="btn btn-primary" href="{% url 'buy_ticket:cancel_ticket_view' ticket.id %}">Cancel this ticket</a>
    <a class="btn btn-success" href="{% url 'buy_ticket:confirm_personal_details' ticket.id %}">Buy Ticket</a>

{% endblock %}