{% extends 'ticket_exchange/base.html' %}
{% load static %}

{% block scripts %}
    <script src="{% static 'my_info/js/count_down_timer.js' %}"></script>
    <script>
        $(document).ready( function() {
    remove_ticket_count_down_timer('{{ ticket.id }}');
});
    </script>
{% endblock %}


{% block content %}

    <div class="form-container">
        <h1 class="h1_title">Remove this for Sale Ticket?</h1>

        <table class="table borderless">
            <tr>
                <td class="borderless-label">Event:</td>
                <td class="borderless-value">{{ ticket.event.name }}</td>
            </tr>
            <tr>
                <td class="borderless-label">Location:</td>
                <td class="borderless-value">{{ ticket.event.location }}, {{ ticket.event.city }}, {{ ticket.event.country }}</td>
            </tr>

            <tr>
                <td class="borderless-label">Date:</td>
                <td class="borderless-value">{{ ticket.event.start_date }} - {{ ticket.event.end_date }}</td>
            </tr>

            <tr>
                <td class="borderless-label">Price:</td>
                <td class="borderless-value">&euro; {{ ticket.price }}</td>
            </tr>

            <tr>
                <td class="borderless-label">PDF:</td>
                <td class="borderless-value">{{ ticket.event.name }}</td>
            </tr>

        </table>


        <form method="POST">{% csrf_token %}
            <a href="{% url 'my_info:cancel_remove_ticket' ticket.id %}" class="btn btn-primary">Cancel</a>
            <button name="submit" id="submit" class="btn btn-primary">Remove (15)</button>
        </form>
    </div>


{% endblock %}