{% extends "ticket_exchange/base.html" %}
{% load static %}


{% block options %}

{% endblock %}

{% block content %}

    <p>Advanced Search</p>
        <form method="POST" >{% csrf_token %}
            {{ name_location_search_form }}
            {{ date_search_form }}
            <button name="search_button" class="save btn btn-default">Search</button>
        </form>


    {% for event in events %}
        <p><a href="{% url 'event_tickets' event.id %}">{{ event.name }}</a></p>
    {% endfor %}

{% endblock %}