{% load staticfiles %}

<html>
    <head>
        <title>Ticket Exchange</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        {#    Date picker   #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.0.0/bootstrap-social.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js"></script>


        <link rel="stylesheet" href="{% static 'ticket_exchange/css/stylesheet.css' %}">
        <script src="{% static 'ticket_exchange/js/scripts.js' %}"></script>

        {% block stylesheets %}{% endblock %}
        {% block scripts %}{% endblock %}
    </head>

    <body>

        {% block messages %}
            {% if messages %}
                <ul class="messagelist">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endblock %}


        <div class="content container-fluid">
            <div class="row" style="height: 15%">
                <div class="col-md-6">
                    <h1><a href="/" class="home-link">ticket exchange</a></h1>
                </div>

                <div class="col-md-6">
                    <ul class="pagetools">

                        {% if user.is_authenticated %}
                            <li><a href="{% url 'home' %}" class="top-menu pagetools-item">Search</a></li>
                        {% endif %}

                        {% if user.is_staff %}
                            <li><a href="{% url 'create_event' %}" class="top-menu pagetools-item">Create Event</a></li>
                        {% endif %}

                    {% if user.is_authenticated %}

                        <li class="dropdown">
                            <button type="button" data-toggle="dropdown" class="image-button"><img src="{{ user.person.photo }}?width=50&height=50" class="facebook-image"><span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'my_info:my_tickets_for_sale' %}">My tickets for sale</a></li>
                                <li><a href="{% url 'my_info:my_tickets_bought' %}">My bought tickets</a></li>
                                <li><a href="{% url 'my_info:my_payouts' %}">My payouts</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url 'my_info:my_profile' %}">Profile</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url 'fb_logout' %}" class="top-menu">Log out</a>
                            </ul>
                        </li>

                        <li><a href="{% url 'sell_ticket:select_event' %}" class="btn btn-success" id="sell-ticket-button">Sell your e-ticket</a></li>

                    {% else %}
                        <li><a class="btn btn-social btn-facebook" id="login-button" onclick="open_login_popup('{% url 'social:begin' 'facebook' %}')">
    <span class="fa fa-facebook"></span> Sign in with facebook</a></li>
                    {% endif %}

                    </ul>

                </div>
            </div>


            <div class="row" style="height: 60%">
                <div class="col-sm-2"></div>
                <div class="col-md-8">
                    {% block content %}{% endblock %}
                </div>
                <div class="col-sm-2"></div>
            </div>

            <div class="row" style="height: 25%"></div>
        </div>

    </body>
</html>


