{% extends 'ticket_exchange/base.html' %}

{% block content %}

    <div>
        <p>Event tickets</p>
{#        <a class="btn btn-default" href="{% url 'ticket_new' %}"><span class="glyphicon glyphicon-plus"></span></a>#}
    </div>

    <div>
        <p>Tickets Available: {{ tickets_available }}</p>
        <p>Tickets Sold: {{ tickets_sold }}</p>
    </div>


    <div class="event-details">
            <h4 style="color: #0081db" class="event-details-heading">{{ event.name }}</h4>
            <p class="event-details-location"><i class="fa fa-calendar fa-2x" aria-hidden="true"></i> {{ event.start_date }}</p>
            <p class="event-details-date"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i> {{ event.location }}, {{ event.city }}, {{ event.country }}</p>

    </div>

    <div class="list-group">
        {% for ticket in tickets %}
            <a href="{% url 'buy_ticket:ticket_details' ticket.id %}" class="list-group-item">
                <h4 style="color: #0081db" class="list-group-item-heading">{{ ticket.seller.fullname }}</h4>
                <p class="list-group-item-text">{{ ticket.price }}</p>
            </a>
        {% endfor %}

    </div>



{% endblock %}

