{% extends 'ticket_exchange/base.html' %}
{% load static %}

{% block scripts %}
    <script src="{% static 'ticket_exchange/js/event_tickets.js' %}"></script>
    <script>document.onload = start_get_event_tickets_js({{ event.id }})</script>
{% endblock %}


{% block content %}

    <div>
        <p>Event tickets</p>
    </div>

    <div>
        <p>Tickets Available: {{ tickets_available }}</p>
        <p>Tickets Sold: {{ tickets_sold }}</p>
    </div>


    <div class="event-details">
            <h4 style="color: #0081db" class="event-details-heading">{{ event.name }}</h4>
            <p class="event-details-location"><i class="fa fa-calendar fa-2x" aria-hidden="true"></i> {{ event.start_date }}</p>
            <p class="event-details-date"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i> {{ event.location }}, {{ event.city }}, {{ event.country }}</p>
    </div>



{% endblock %}

