{% extends "ticket_exchange/base.html" %}
{% load static %}

{% block scripts %}
    <script src="{% static 'ticket_exchange/js/search_events.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="homepage">
        <h1>A safe place to buy and sell your e&#8209;tickets</h1>
    </div>


    {% include 'ticket_exchange/search.html' %}
{#    <div class="search_bar">#}
{#        <form method="POST" >{% csrf_token %}#}
{##}
{#            {{ form }}#}
{#            <button name="search_button" class="btn btn-primary search_button">Search</button>#}
{#        </form>#}
{#    </div>#}
{% endblock %}